.regbody {
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 25%;
    margin-right: 15%;
    width: 50%;
    margin-top: 5%;

}

.main {

    margin-left: 25%;
    margin-right: 15%;
    margin-bottom: 12%;
    margin-top: 15%;

}